<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Pothole Patrol"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.PotholePatrol"
        tools:targetApi="31">
        <activity
            android:name=".Activity.EnternewpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EnterotpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForgetpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.WelcomeActivity" />
        <activity android:name=".Activity.LoginActivity" android:exported="true" />
        <activity android:name=".Activity.AddPotholeActivity" android:exported="false" />


        <activity android:name=".Activity.MainActivity" />

        <activity
            android:name=".Settings.EditSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Settings.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Settings.PersonalizationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Settings.PrivacySettingActivity"
            android:exported="false" />
        <activity
            android:name=".Settings.ReportSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Settings.TermSettingActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.client.id"
            android:value="378423130551-5knlk4hpg305j6hvbh4pkedrilno8b15.apps.googleusercontent.com" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

    </application>

</manifest>